.langButton {
    width: 100%;
    padding: 0 20px 0 15px;
    height: 57px;
    font-weight: 500;
    font-size: var(--big);
    border-radius: 10px;
    color: var(--text-negative);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--accent-orange);
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.langButton:hover{
    background-color: var(--accent-light-orange);
}

.langButton__current{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.langList {
    position: absolute;
    border-radius: 10px;
    font-size: var(--medium);
    font-weight: 400;
    background-color: var(--text-negative);
    color: var(--accent-dark-orange);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px 5px;
    max-width: min-content;
    max-height: 350px;
    overflow: hidden scroll;
    top: 100%;
    left: 0;
    transform: translateX(0) translateY(-5%);
    opacity: 0;
    transform-origin: top;
    transition: opacity .2s ease-out, transform .2s ease-out;
    padding: 5px;
    margin: 0;
    border: 1px solid var(--outline);
    pointer-events: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    z-index: 10;
}

.langButton.right > .langList{
    left: unset;
    right: 0;
}

.langList.loading{
    grid-template-columns: unset;
}

.langList.visible {
    transform: translateX(0) translateY(0);
    opacity: 1;
    pointer-events: unset;
}

.langList::-webkit-scrollbar{
    width: 14px;
}

.langList::-webkit-scrollbar-thumb{
    background-color: var(--outline);
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
}

.langList__language { 
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color .1s ease-out;
}

.langList__language:hover {
    background-color: var(--bg-textbox);
}

body.dark .langList__language:hover {
    background-color: var(--bg-hover);
}

.langButton__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-negative);
}

.langButton__icon > svg {
    transform-origin: center;
    transition: transform .2s ease-out;
}

.langButton__icon.open > svg{
    transform: rotateZ(180deg);
}

@media screen and (max-width: 450px) {
    .langList {
        grid-template-columns: 1fr 1fr;
        max-height: 350px;
    }
}
